li {
  position: relative;
  display: block;
}
* {
  -webskit-box-sizing: border-box;
}

li {
  text-align: -webkit-match-parent;
}
a, a:hover, a:focus {
  color: #80D8FF;
}

li > a{
  padding-bottom: 10px;
  padding-top: 10px;
}

li > a{
  text-transform: none;
  font-size: 13px;
  position: relative;
  font-weight: 500;
  line-height: 20px;
  display: block;
  padding: 12px 16px;
}

a {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}
a:after {
  background-color: #80D8FF;
}
li > a::after {
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  width: 2px;
}

@media (min-width:769px) {
  li {
    float: left;
  }
  li > a:after{
    top: auto;
    right: 0;
    width: auto;
    height: 2px;
  }
}
