<div class="page-header page-header-inverse bg-indigo">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-transparent">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="../../assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="navbar-collapse">
            <div class="navbar-right hidden-xs">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle legitRipple" href="#">
                            <i class="icon-bell2"></i>
                        </a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Activity
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-menu7"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a class="btn bg-success-400 btn-rounded btn-icon btn-xs legitRipple" href="#"><i class="icon-mention"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a class="btn bg-pink-400 btn-rounded btn-icon btn-xs legitRipple" href="#"><i class="icon-paperplane"></i></a>
                                    </div>
                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle legitRipple" href="#"><i class="icon-bubble8"></i></a>
                        <div class="dropdown-menu dropdown-content width-350">
                            <div class="dropdown-content-heading">
                                Messages
                                <ul class="icons-list">
                                    <li><a href="#"><i class="icon-menu7"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body">
                                <li class="media">
                                    <div class="media-left">
                                        <img alt="" class="img-circle img-sm" src="../../assets/images/sponsor2.jpg">
                                        <span class="badge bg-danger-400 media-badge">5</span>
                                    </div>
                                    <div class="media-body">
                                        <a class="media-heading" href="#">
                                            <span class="text-semibold">Dwain Smith</span>
                                            <span class="media-annotation pull-right">04:58</span>
                                        </a>
                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img alt="" class="img-circle img-sm" src="../../assets/images/sponsor1.jpg">
                                        <span class="badge bg-danger-400 media-badge">4</span>
                                    </div>
                                    <div class="media-body">
                                        <a class="media-heading" href="#">
                                            <span class="text-semibold">Claudette Smith</span>
                                            <span class="media-annotation pull-right">12:16</span>
                                        </a>
                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a data-toggle="dropdown" class="dropdown-toggle legitRipple" aria-expanded="false">
                            <img alt="" src="../../assets/images/staff2.jpg">
                            <span class="hidden-xs">Richard</span>
                            <i class="hidden-xs caret"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">My Profile</a>
                            </li>
                            <li><a href="#">Account Settings</a>
                            </li>
                            <li><a href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-right" id="navbar-mobile">
                <div class="navbar navbar-inverse navbar-transparent hidden-lg hidden-md hidden-sm" id="navbar-second-mobile">
                    <ul class="nav navbar-nav no-border visible-xs-block">
                        <li>
                            <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-user-toggle"><img class="user-image" alt="" src="../../assets/images/staff2.jpg" />
                            </a>
                        </li>
                        <li class="iconic"><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-messages-toggle"><i class="icon-bubble8"></i></a>
                        </li>
                        <li class="iconic"><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-activities-toggle"><i class="icon-bell2"></i></a>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse" id="navbar-activities-toggle">
                        <div class="dropdown-content-heading">
                            Activity
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-menu7"></i></a>
                                </li>
                            </ul>
                        </div>
                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a class="btn bg-success-400 btn-rounded btn-icon btn-xs legitRipple" href="#"><i class="icon-mention"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a class="btn bg-pink-400 btn-rounded btn-icon btn-xs legitRipple" href="#"><i class="icon-paperplane"></i></a>
                                </div>
                                <div class="media-body">
                                    Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-messages-toggle">
                        <div class="dropdown-content-heading">
                            Messages
                            <ul class="icons-list">
                                <li><a href="#"><i class="icon-menu7"></i></a>
                                </li>
                            </ul>
                        </div>
                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle img-sm" src="../../assets/images/sponsor2.jpg">
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold">Dwain Smith</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>
                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <img alt="" class="img-circle img-sm" src="../../assets/images/sponsor1.jpg">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>
                                <div class="media-body">
                                    <a class="media-heading" href="#">
                                        <span class="text-semibold">Claudette Smith</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>
                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-user-toggle">
                        <ul class="media-list dropdown-content-body">
                            <li class="media"><a href="#">My Profile</a>
                            </li>
                            <li><a href="#">Account Settings</a>
                            </li>
                            <li><a href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main navbar -->

    <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
<!--
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" ><i class="icon-menu7"></i></a>
            </li>
        </ul>
-->
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li (click)="onShowMenu()"><a class="text-center collapsed" ><i class="icon-menu7"></i></a>
            </li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-second-toggle" [ngClass]="{collapse: bShowMenu}">
            <ul class="nav navbar-nav navbar-nav-material">
                <li class="{{(subMenu.title=='Dashboard') ? 'active' : ''}}" dropdown (onToggle)="toggled($event)" *ngFor="let subMenu of subMenus">
                    <a href="/login" id="simple-dropdown" *ngIf="subMenu.data" dropdownToggle>
                        {{subMenu.title}} <span *ngIf="subMenu.data" class="caret"></span>
                    </a>
                    <a href="/login" id="simple-dropdown" *ngIf="!subMenu.data">
                        {{subMenu.title}} <span *ngIf="subMenu.data" class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown" *ngIf="subMenu.data">
                        <li *ngFor="let item of subMenu.data"><a href="/login"><i class="{{item.icon}}"></i> {{item.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-nav-material">
      				<li class="active"><a href="../dashboard/index.html">Dashboard</a></li>
      				<li><a href="../calendar/index.html">Calendar</a></li>
      				<li><a href="../library/index.html">Library</a></li>
      				<li><a href="../lms/index.html">LMS</a></li>
      				<li><a href="../timetable/index.html">Timetable</a></li>
      				<li><a href="../lbm/index.html">LBM</a></li>
      				<li><a href="../progress-report/index.html">Progress Report</a></li>
      				<li><a href="../report-cards/index.html">Report Cards</a></li>
      				<li><a href="../attendance/index.html">Attendance</a></li>
      				<li><a href="../activities/index.html">Activities</a></li>
      			</ul>-->
      			<ul class="nav navbar-nav navbar-nav-material navbar-right">
      				<li><a href="#"><i class="icon-cloud2"></i></a></li>
      				<li><a href="#"><i class="icon-cog3"></i></a></li>
      			</ul>
        </div>
    </div>
</div>

<!-- Dashboard -->
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">










			<div class="row">
				<div class="col-md-8">

				<div class="row">
					<div class="col-md-6">
						<!-- Latest posts -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Latest News</h5>
								<div class="heading-elements">
									<ul class="icons-list">
										<li><a data-action="collapse"></a></li>
										<li><a data-action="reload"></a></li>
										<li><a data-action="close"></a></li>
									</ul>
								</div>
							</div>

							<div class="panel-body">
								<ul class="media-list content-group">
									<li class="media">
										<div class="media-left">
											<div class="thumb">
												<a href="#">
													<img src="../../assets/images/placeholder.jpg" class="img-responsive img-rounded media-preview" alt="">
													<span class="zoom-image"><i class="icon-play3"></i></span>
												</a>
											</div>
										</div>

										<div class="media-body">
											<h6 class="media-heading"><a href="#">Up unpacked friendly</a></h6>
											<ul class="list-inline list-inline-separate text-muted mb-5">
												<li><i class="icon-book-play position-left"></i> Video tutorials</li>
												<li>14 minutes ago</li>
											</ul>
											The him father parish looked has sooner...
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<div class="thumb">
												<a href="#">
													<img src="../../assets/images/placeholder.jpg" class="img-responsive img-rounded media-preview" alt="">
													<span class="zoom-image"><i class="icon-play3"></i></span>
												</a>
											</div>
										</div>

										<div class="media-body">
											<h6 class="media-heading"><a href="#">It allowance prevailed</a></h6>
											<ul class="list-inline list-inline-separate text-muted mb-5">
												<li><i class="icon-book-play position-left"></i> Video tutorials</li>
												<li>12 days ago</li>
											</ul>
											Alteration literature to or an sympathize mr imprudence...
										</div>
									</li>
									<li class="media">
										<div class="media-left">
											<div class="thumb">
												<a href="#">
													<img src="../../assets/images/placeholder.jpg" class="img-responsive img-rounded media-preview" alt="">
													<span class="zoom-image"><i class="icon-play3"></i></span>
												</a>
											</div>
										</div>

										<div class="media-body">
											<h6 class="media-heading"><a href="#">Up unpacked friendly</a></h6>
											<ul class="list-inline list-inline-separate text-muted mb-5">
												<li><i class="icon-book-play position-left"></i> Video tutorials</li>
												<li>14 minutes ago</li>
											</ul>
											The him father parish looked has sooner....
										</div>
									</li>
								</ul>
							</div>

						</div>
						<!-- /latest posts -->
					</div>
					<div class="col-md-6">
						<!-- Support tickets -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Todo List</h5>
								<div class="heading-elements">
									<form class="heading-form" action="#">
										<div class="form-group">
											<label class="checkbox checkbox-inline checkbox-switchery checkbox-right switchery-xs">
												<input type="checkbox" class="switcher" id="show-closed" checked="checked">
												Show Closed
											</label>
										</div>
									</form>
									<ul class="icons-list">
										<li><a data-action="collapse"></a></li>
										<li><a data-action="close"></a></li>
									</ul>
								</div>
							</div>


							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-todo">
										<thead>
											<tr>
												<th style="width: 50px">Status</th>
												<th>Description</th>
												<th><a href="#" id="add-task"  data-toggle="modal" data-target="#modal-add-task"><i class="icon-add"></i></a></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">
													<h6 class="no-margin"><i class="icon-cross2 text-danger"></i></h6>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														<span class="text-semibold">Participating in staff birthday celebration</span>
														<span class="display-block text-muted">Today - 2:00 PM, Managers Office</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve task</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Remove</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin"><i class="icon-cross2 text-danger"></i></h6>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														<span class="text-semibold">Printing documents for Dwain Smith</span>
														<span class="display-block text-muted">This week</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropdown">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve task</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Remove</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr>
												<td class="text-center">
													<h6 class="no-margin"><i class="icon-cross2 text-danger"></i></h6>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														<span class="text-semibold">Contacting Steve about new session</span>
														<span class="display-block text-muted">Between 11:00 AM to 12:00 AM - Steve's lunch time</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-checkmark3 text-success"></i> Resolve task</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Remove</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr class="closed-task">
												<td class="text-center">
													<i class="icon-checkmark3 text-success"></i>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														Preparing questions papers for GR 01
														<span class="display-block text-muted">Exam on June 03</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve task</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Remove</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>

											<tr class="closed-task">
												<td class="text-center">
													<i class="icon-checkmark3 text-success"></i>
												</td>
												<td>
													<a href="#" class="text-default display-inline-block">
														Meet teachers of GR/RR
														<span class="display-block text-muted">By June 01. Announcing new teaching instructions</span>
													</a>
												</td>
												<td class="text-center">
													<ul class="icons-list">
														<li class="dropup">
															<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
																<li class="divider"></li>
																<li><a href="#"><i class="icon-plus3 text-blue"></i> Unresolve task</a></li>
																<li><a href="#"><i class="icon-cross2 text-danger"></i> Remove</a></li>
															</ul>
														</li>
													</ul>
												</td>
											</tr>


										</tbody>
									</table>
								</div>


								<!-- Vertical form modal -->
								<div id="modal-add-task" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h5 class="modal-title">New Task</h5>
											</div>

											<form action="#">
												<div class="modal-body">
													<div class="form-group form-group-material">
														<label class="control-label">Task Title <span class="text-danger">*</span></label>
														<input type="text" class="form-control" placeholder="Task Title *">
													</div>
													<div class="form-group form-group-material">
														<label class="control-label">Description</label>
														<input type="text" placeholder="Description" class="form-control">
													</div>



												</div>

												<div class="modal-footer">
													<button type="submit" class="btn btn-primary">Add</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- /vertical form modal -->
							</div>






						</div>
						<!-- /support tickets -->
					</div>
				</div>





				<!-- Calendar --
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Events Calendar</h6>
						<div class="heading-elements">
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body">
						<div class="schedule has-scroll"></div>
					</div>
				</div>
				!-- /calendar -->


				<div class="row">
						<div class="col-md-6">


						<!-- Basic pie chart -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Families by Number of Students</h5>
									<div class="heading-elements">
										<ul class="icons-list">
											<li><a data-action="collapse"></a></li>
											<li><a data-action="close"></a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body">
									<div class="chart-container">
										<div class="chart has-fixed-height" id="basic_pie"></div>
									</div>
								</div>
							</div>
							<!-- /bacis pie chart -->
						</div>


						<div class="col-md-6">
							<!-- Basic donut chart -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Enrolled Students by Gender</h5>
									<div class="heading-elements">
										<ul class="icons-list">
											<li><a data-action="collapse"></a></li>
											<li><a data-action="close"></a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body">
									<div class="chart-container">
										<div class="chart has-fixed-height width-100" id="basic_donut"></div>
									</div>
								</div>
							</div>
							<!-- /basic donut chart -->
						</div>

					</div>




			</div>
			<div class="col-md-4">


					<div class="panel panel-flat timeline-content">
						<div class="panel-heading">
							<h6 class="panel-title">Conversation with James</h6>
							<div class="heading-elements">
								<ul class="icons-list">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>

										<ul class="dropdown-menu dropdown-menu-right">
											<li><a href="#"><i class="icon-user-block"></i> Block user</a></li>
											<li class="divider"></li>
											<li><a href="#"><i class="icon-blocked"></i> Report this post</a></li>
										</ul>
									</li>
									<li><a data-action="collapse"></a></li>
									<li><a data-action="close"></a></li>
								</ul>








							</div>
						</div>

						<div class="panel-body">
							<ul class="media-list chat-list content-group">
								<li class="media date-step">
									<span>Today</span>
								</li>

								<li class="media reversed">
									<div class="media-body">
										<div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
										<span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>

									<div class="media-right">
										<a href="../../assets/images/avatar1.jpg">
											<img src="../../assets/images/avatar1.jpg" class="img-circle" alt="">
										</a>
									</div>
								</li>

								<li class="media">
									<div class="media-left">
										<a href="../../assets/images/image.png">
											<img src="../../assets/images/image.png" class="img-circle" alt="">
										</a>
									</div>

									<div class="media-body">
										<div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
										<span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
								</li>

								<li class="media reversed">
									<div class="media-body">
										<div class="media-content"><i class="icon-menu display-block"></i></div>
									</div>

									<div class="media-right">
										<a href="../../assets/images/avatar1.jpg">
											<img src="../../assets/images/avatar1.jpg" class="img-circle" alt="">
										</a>
									</div>
								</li>
							</ul>

							<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

							<div class="row">
								<div class="col-xs-6">
									<ul class="icons-list icons-list-extended mt-10">
										<li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
									</ul>
								</div>

								<div class="col-xs-6 text-right">
									<button type="button" class="btn bg-teal-400">Send</button>
								</div>
							</div>
						</div>
					</div>




			<!-- My messages -->
					<div class="panel panel-flat messages">
						<div class="panel-heading">
							<h5 class="panel-title">Messages Inbox</h5>
							<div class="heading-elements">
								<span class="heading-text"><i class="icon-history text-warning position-left"></i> Jul 7, 10:30</span>
								<span class="label bg-success heading-text">Online</span>
								<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="close"></a></li>
								</ul>
							</div>
						</div>

						<!-- Area chart -->
						<div id="messages-stats"></div>
						<!-- /area chart -->


						<!-- Tabs -->
						<ul class="nav nav-lg nav-tabs nav-justified no-margin no-border-radius bg-indigo-400 border-top border-top-indigo-300">
							<li class="active">
								<a href="#messages-today" class="text-size-small text-uppercase" data-toggle="tab">
									Today
								</a>
							</li>

							<li>
								<a href="#messages-mon" class="text-size-small text-uppercase" data-toggle="tab">
									Monday
								</a>
							</li>

							<li>
								<a href="#messages-sun" class="text-size-small text-uppercase" data-toggle="tab">
									Friday
								</a>
							</li>
						</ul>
						<!-- /tabs -->


						<!-- Tabs content -->
						<div class="tab-content">
							<div class="tab-pane active fade in has-padding" id="messages-today">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/sponsor2.jpg" class="img-circle img-xs" alt="">
											<span class="badge bg-danger-400 media-badge">8</span>
										</div>

										<div class="media-body">
											<a href="#">
												Dwain Smith
												<span class="media-annotation pull-right">14:58</span>
											</a>

											<span class="display-block text-muted">The constitutionally inventoried precariously...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/avatar2.jpg" class="img-circle img-xs" alt="">
											<span class="badge bg-danger-400 media-badge">6</span>
										</div>

										<div class="media-body">
											<a href="#">
												Margo Baker
												<span class="media-annotation pull-right">12:16</span>
											</a>

											<span class="display-block text-muted">Pinched a well more moral chose goodness...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff1.jpg" class="img-circle img-xs" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Jeremy Victorino
												<span class="media-annotation pull-right">09:48</span>
											</a>

											<span class="display-block text-muted">Pert thickly mischievous clung frowned well...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff4.jpg" class="img-circle img-xs" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Beatrix Diaz
												<span class="media-annotation pull-right">05:54</span>
											</a>

											<span class="display-block text-muted">Nightingale taped hello bucolic fussily cardinal...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff2.jpg" class="img-circle img-xs" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Richard Vango
												<span class="media-annotation pull-right">01:43</span>
											</a>

											<span class="display-block text-muted">Amidst roadrunner distantly pompously where...</span>
										</div>
									</li>
								</ul>
							</div>

							<div class="tab-pane fade has-padding" id="messages-mon">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff3.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Isak Temes
												<span class="media-annotation pull-right">Tue, 19:58</span>
											</a>

											<span class="display-block text-muted">Reasonable palpably rankly expressly grimy...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/avatar11.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Vittorio Cosgrove
												<span class="media-annotation pull-right">Tue, 16:35</span>
											</a>

											<span class="display-block text-muted">Arguably therefore more unexplainable fumed...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/avatar9.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Hilary Talaugon
												<span class="media-annotation pull-right">Tue, 12:16</span>
											</a>

											<span class="display-block text-muted">Nicely unlike porpoise a kookaburra past more...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/avatar10.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Bobbie Seber
												<span class="media-annotation pull-right">Tue, 09:20</span>
											</a>

											<span class="display-block text-muted">Before visual vigilantly fortuitous tortoise...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff5.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Walther Laws
												<span class="media-annotation pull-right">Tue, 03:29</span>
											</a>

											<span class="display-block text-muted">Far affecting more leered unerringly dishonest...</span>
										</div>
									</li>
								</ul>
							</div>

							<div class="tab-pane fade has-padding" id="messages-sun">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/avatar12.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Owen Stretch
												<span class="media-annotation pull-right">Mon, 18:12</span>
											</a>

											<span class="display-block text-muted">Tardy rattlesnake seal raptly earthworm...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff6.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Jenilee Mcnair
												<span class="media-annotation pull-right">Mon, 14:03</span>
											</a>

											<span class="display-block text-muted">Since hello dear pushed amid darn trite...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/staff7.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Alaster Jain
												<span class="media-annotation pull-right">Mon, 13:59</span>
											</a>

											<span class="display-block text-muted">Dachshund cardinal dear next jeepers well...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/teacher4.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Sigfrid Thisted
												<span class="media-annotation pull-right">Mon, 09:26</span>
											</a>

											<span class="display-block text-muted">Lighted wolf yikes less lemur crud grunted...</span>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<img src="../../assets/images/teacher5.jpg" class="img-circle img-sm" alt="">
										</div>

										<div class="media-body">
											<a href="#">
												Sherilyn Mckee
												<span class="media-annotation pull-right">Mon, 06:38</span>
											</a>

											<span class="display-block text-muted">Less unicorn a however careless husky...</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /tabs content -->

					</div>
					<!-- /my messages -->




				<!-- Connections -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Students Absent</h6>
						<div class="heading-elements">
							<span class="badge badge-success heading-text">4</span>
							<ul class="icons-list">
								<li><a data-action="collapse"></a></li>
								<li><a data-action="close"></a></li>
							</ul>
						</div>
					</div>

					<ul class="media-list media-list-linked pb-5">
						<li class="media">
							<a href="#" class="media-link">
								<div class="media-left"><img src="../../assets/images/avatar6.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<span class="media-heading text-semibold">Kevin Williams (GR/RR)</span>
									<span class="media-annotation">Health</span>
								</div>
								<div class="media-right media-middle">
									<span class="status-mark bg-success"></span>
								</div>
							</a>
						</li>
						<li class="media">
							<a href="#" class="media-link">
								<div class="media-left"><img src="../../assets/images/avatar7.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading"><span class="text-semibold">Steve Miles (GR 03)</span></div>
									<span class="text-muted">Travel</span>
								</div>
								<div class="media-right media-middle">
									<span class="status-mark bg-success"></span>
								</div>
							</a>
						</li>
					</ul>
				</div>

				<div class="panel panel-flat">
						<div class="panel-heading">
							<h6 class="panel-title">Birthday in 7 Days</h6>
							<div class="heading-elements">
								<span class="badge badge-success heading-text">3</span>
								<ul class="icons-list">
									<li><a data-action="collapse"></a></li>
									<li><a data-action="close"></a></li>
								</ul>
							</div>

						</div>

						<ul class="media-list media-list-linked pb-5">

							<li class="media-header">Students (2)</li>
							<li class="media">
								<a href="#" class="media-link">
									<div class="media-left"><img src="../../assets/images/avatar8.jpg" class="img-circle" alt=""></div>
									<div class="media-body">
										<div class="media-heading"><span class="text-semibold">Jordana Mills (GR 01)</span></div>
										<span class="text-muted">Today</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark bg-grey-300"></span>
									</div>
								</a>
							</li>

							<li class="media">
								<a href="#" class="media-link">
									<div class="media-left"><img src="../../assets/images/avatar5.jpg" class="img-circle" alt=""></div>
									<div class="media-body">
										<div class="media-heading"><span class="text-semibold">Oliver Smith (GR 03)</span></div>
										<span class="text-muted">Jun 15</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark bg-success"></span>
									</div>
								</a>
							</li>

							<li class="media-header">Staff (1)</li>

							<li class="media">
								<a href="#" class="media-link">
									<div class="media-left"><img src="../../assets/images/teacher3.jpg" class="img-circle" alt=""></div>
									<div class="media-body">
										<div class="media-heading"><span class="text-semibold">Jenny White (GR 03)</span></div>
										<span class="text-muted">Jun 17</span>
									</div>
									<div class="media-right media-middle">
										<span class="status-mark bg-success"></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				<!-- /connections -->
				</div>

			</div>








		</div>

	</div>
	<!-- /page container -->

<!-- Page Footer -->
<div class="page-footer row">
	<div class="col-sm-8">
		<div class="copy-and-credits">
			<img src="../../assets/images/ed-admin-dark.png" /><br />
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Contact State University of New York</a></li>
			</ul>
			<p class="copyright">&copy; Copyright 2016 Ed-admin Pty Ltd</p>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="institute-name">
			State University of New York
		</div>
	</div>
	<div class="col-sm-1">
		<div class="institute-logo">
			<img src="../../assets/images/footer-logo.png" />
		</div>
	</div>
</div>
